---
import site from "../../data/site.json"
import Layout from "../../layouts/Base.astro"
import { isoDate, shortDate } from "../../utils/dates"
import { getDomain } from "../../utils/links"
import { mdToHtml } from "../../utils/markdown"
import { readMinutes } from "../../utils/readMinutes"

export async function getStaticPaths({ rss }) {
  const data = Astro.fetchContent("../../data/articles/*.md").filter(
    ({ draft }) => !draft
  )

  const allArticles = data.map(({ astro, file, url, ...article }) => {
    return {
      params: { slug: article.slug },
      props: {
        article: { ...article, minutes: readMinutes(astro.source) },
        content: astro.html,
        md: astro.source,
      },
    }
  })

  rss({
    title: `Articles • ${site.title}`,
    description: site.description,
    customData: `<language>en-us</language><author><name>${
      site.title
    }</name></author><id>${site.url}${site.rss.articles}</id><updated>${isoDate(
      new Date()
    )}</updated>`,
    items: allArticles.map(({ props }) => {
      const { article, md } = props

      return {
        title: article.title,
        link: `/articles/${article.slug}/`,
        pubDate: isoDate(article.published_date),
        customData: `<id>${article.slug}</id><updated>${isoDate(
          article.modified_date || article.published_date
        )}</updated><content type="html"><![CDATA[ ${mdToHtml(
          md
        )} ]]></content>`,
      }
    }),
    dest: `/${site.rss.articles}`,
  })

  return allArticles
}

interface Props {
  article: CMS.Article
  content: string
}

const { article, content } = Astro.props

const {
  title,
  description,
  category,
  image,
  canonical_url,
  published_date,
  modified_date,
  minutes,
} = article

const publishedDateISO = published_date && isoDate(published_date)
const publishedDate = published_date && shortDate(published_date)
const modifiedDateISO = modified_date && isoDate(modified_date)
const modifiedDate = modified_date && shortDate(modified_date)
const canonicalDomain = canonical_url && getDomain(canonical_url)
---

<Layout
  prose
  {title}
  {description}
  {image}
  pathname={Astro.request.url.pathname}
  canonicalURL={canonical_url || Astro.request.canonicalURL}
>
  <section class="h-entry">
    <header>
      <em>{category}</em>
      <h1 class="p-name">{title}</h1>

      <small>
        <time class="dt-published" datetime={publishedDateISO}
          >{publishedDate}</time
        >
        {canonical_url && (
          <i>
            • Originally published at{" "}
            <a href={canonical_url}>{canonicalDomain}</a>
          </i>
        )}
        <b class="h-card p-author">
          <a class="u-url" href="/">{title}</a>
        </b>
        • {minutes} min read
      </small>

      {modifiedDate && (
        <small>
          <time class="dt-updated" datetime={modifiedDateISO}>
            <i>Updated: {modifiedDate}</i>
          </time>
        </small>
      )}

      <blockquote class="h5">
        <p class="p-summary lead">{description}</p>
      </blockquote>
    </header>
  </section>

  <article class="e-content markdown">
    {content}
  </article>
</Layout>

<style lang="scss">
  header {
    margin-bottom: var(--spacer-md);

    & em {
      font-style: normal;
      text-transform: uppercase;
      color: var(--chisel-secondary);
      font-weight: 700;
      margin-bottom: var(--spacer-sm);
      display: block;
    }

    & small {
      display: block;
      margin-top: var(--spacer-tiny);
    }

    & .p-author {
      display: none;
    }

    & h1 {
      margin: 0 0 0.5em;
      font-size: var(--chisel-h2);

      @media (min-width: 640px) {
        & {
          font-size: var(--chisel-h2);
        }
      }
    }

    & blockquote {
      color: var(--chisel-neutral-700);
      font-weight: 400;
      line-height: 1.3;
      margin: var(--spacer-md) 0 0;
    }
  }

  article {
    & :global(h2) {
      font-size: var(--chisel-h3);
    }

    & :global(h3) {
      font-size: var(--chisel-h4);
    }

    & :global(h4) {
      font-size: var(--chisel-h5);
    }
  }
</style>
