---
import { isoDate, shortDate } from '../utils/dates'

interface Props {
  article: CMS.Article
}

const { article } = Astro.props as Props

const { slug, title, description, published_date, category } = article

const publishedDateISO = isoDate(published_date)
const publishedDate = shortDate(published_date)
---

<article>
  <h3>
    <a href={`/articles/${slug}`}>{title}</a>
  </h3>
  <p class='meta'>
    <time date-time={publishedDateISO}>{publishedDate}</time>
    <span aria-hidden> ⋅ </span>
    <span>{category.toUpperCase()}</span>
  </p>
  <p>{description}</p>
</article>

<style lang="scss">
  a {
    text-decoration: none;
    color: var(--chisel-secondary);
  }

  h3 {
    margin-bottom: 0;
  }

  .meta {
    color: var(--chisel-neutral-700);
  }

  p:not(.meta) {
    font-size: var(--chisel-h5);
  }
</style>