---
import site from '../data/site.json'
import Header from '../components/Header.astro'
import MainHead from '../components/MainHead.astro'
import Hero from '../components/Hero.astro'

interface Props {
	title: string
	description: string
	image: string
	pathname?: string
	canonicalURL: string
}

const {
	title,
	description,
	image,
	pathname,
	canonicalURL
} = Astro.props as props
---

<html lang="en">
  <head>
    <MainHead title={title} description={description} image={image} canonicalURL={canonicalURL} />
  </head>

  <body>
    <a
      id="skip-to-content"
      href="#main"
      class="sr-only sr-only-focusable"
    >
      Skip to content
    </a>

    <Header pathname={Astro.request.url.pathname} />

    <Hero title='I make websites.' cta={{title: 'Hello, my name is Tony', url: '/about'}}>
      <p>
        I'm a frontend developer and co-founder of Navillus, a think tank in The Hague. I also write about the web on my <a href='/blog'>blog</a> and on <a href='https://twitter.com/tony-sull'>Twitter</a>.
      </p>
    </Hero>

    <main class="container" id="main">
      <slot />

      <div class="cards">
        <article>
          <img src="https://images.unsplash.com/photo-1497215728101-856f4ea42174?ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80" />
        </article>
        <article>
          <img src="https://images.unsplash.com/photo-1497215728101-856f4ea42174?ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80" />
        </article>
        <article>
          <img src="https://images.unsplash.com/photo-1497215728101-856f4ea42174?ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80" />
        </article>
        <article>
          <img src="https://images.unsplash.com/photo-1497215728101-856f4ea42174?ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80" />
        </article>
        <article>
          <img src="https://images.unsplash.com/photo-1497215728101-856f4ea42174?ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80" />
        </article>
        <article>
          <img src="https://images.unsplash.com/photo-1497215728101-856f4ea42174?ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80" />
        </article>
        <article>
          <img src="https://images.unsplash.com/photo-1497215728101-856f4ea42174?ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80" />
        </article>
        <article>
          <img src="https://images.unsplash.com/photo-1497215728101-856f4ea42174?ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80" />
        </article>
      </div>
    </main>

  </body>
</html>

<style lang="scss">
  body {
    font-family: var(--font-family-base);
    line-height: 1.5;
  }

  a[href="#main"].sr-only.sr-only-focusable {
    top: var(--spacer-xs);
    left: var(--spacer-xs);
    background: var(--chisel-neutral-50);
    color: var(--chisel-neutral-900);
    padding: var(--spacer-xs);
    z-index: 1;
  }

  .cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: var(--spacer-sm);
  }
</style>