---
import site from '../data/site.json'
import Footer from '../components/Footer.astro'
import Header from '../components/Header.astro'
import MainHead from '../components/MainHead.astro'
import Hero from '../components/Hero.astro'

interface Props {
	title: string
	description: string
	image: string
	pathname?: string
	canonicalURL: string
  prose: boolean
}

const {
	title,
	description,
	image,
	pathname,
	canonicalURL,
  prose = false
} = Astro.props as props
---

<html lang="en" data-chisel-theme="light">
  <head>
    <MainHead title={title} description={description} image={image} canonicalURL={canonicalURL} />

    <script>
      const THEME_KEY = 'ts_theme'
      const cached = localStorage.getItem(THEME_KEY)
      document.documentElement.setAttribute('data-chisel-theme', cached || 'light')
    </script>
  </head>

  <body>
    <a
      id="skip-to-content"
      href="#main"
      class="sr-only sr-only-focusable"
    >
      Skip to content
    </a>

    <Header pathname={Astro.request.url.pathname} />

    <main class={`container ${prose && 'container--prose'}`} id="main">
      <slot />
    </main>

    <Footer />

  </body>
</html>

<style lang="scss">
  body {
    font-family: var(--font-family-base);
    line-height: 1.5;
  }

  main {
    margin-bottom: var(--spacer-lg);
  }

  a[href="#main"].sr-only.sr-only-focusable {
    top: var(--spacer-xs);
    left: var(--spacer-xs);
    background: var(--chisel-neutral-50);
    color: var(--chisel-neutral-900);
    padding: var(--spacer-xs);
    z-index: 1;
  }
</style>