---
import Footer from "../components/Footer.astro"
import Header from "../components/Header.astro"
import MainHead from "../components/MainHead.astro"

interface Props {
  title?: string
  description?: string
  image?: string
  pathname?: string
  canonicalURL: URL
  prose?: boolean
}

const {
  title,
  description,
  image,
  canonicalURL,
  prose = false,
} = Astro.props as Props
---

<html lang="en" data-chisel-theme="light">
  <head>
    <MainHead {title} {description} {image} {canonicalURL} />

    <script>
      const THEME_KEY = "ts_theme"

      function initTheme() {
        let theme = localStorage.getItem(THEME_KEY)

        if (!theme) {
          theme =
            window.matchMedia &&
            window.matchMedia("(prefers-color-scheme: dark)").matches
              ? "dark"
              : "light"
        }

        document.documentElement.setAttribute("data-chisel-theme", theme)
      }

      initTheme()
    </script>
  </head>

  <body>
    <a id="skip-to-content" href="#main" class="sr-only sr-only-focusable">
      Skip to content
    </a>

    <Header pathname={Astro.request.url.pathname} />

    <main class={`container ${prose && "container--prose"}`} id="main">
      <slot />
    </main>

    <Footer />
  </body>
</html>

<style lang="scss" global>
  body {
    font-family: var(--font-family-base);
    line-height: 1.5;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }

  body > main {
    flex: 1;
    margin-bottom: var(--spacer-lg);
  }

  a[href="#main"].sr-only.sr-only-focusable {
    top: var(--spacer-xs);
    left: var(--spacer-xs);
    background: var(--chisel-neutral-50);
    color: var(--chisel-neutral-900);
    padding: var(--spacer-xs);
    z-index: 1;
  }
</style>
